@namespace TimeWarp.Blazor.Pages
@page "/WeatherForecasts"
@inherits BaseComponent

  <Page>
    <HeaderContent>Weather Forecasts</HeaderContent>
    <MainContent>
      <p>This component demonstrates fetching data from the server.</p>

      @if (@WeatherForecastsState.WeatherForecasts == null)
      {
        <p><em>Loading...</em></p>
      }
      else
      {
        <table class="mt-4 min-w-full divide-y divide-gray-200" data-qa="WeatherForecastTable">
          <thead>
            <tr>
              <TableHeader>Date</TableHeader>
              <TableHeader>Temp. (C)</TableHeader>
              <TableHeader>Temp. (F)</TableHeader>
              <TableHeader>Summary</TableHeader>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            @foreach (var forecast in @WeatherForecastsState.WeatherForecasts)
            {
              <tr>
                <Cell>@forecast.Date.ToShortDateString()</Cell>
                <Cell>@forecast.TemperatureC</Cell>
                <Cell>@forecast.TemperatureF</Cell>
                <Cell>
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    @forecast.Summary
                  </span>
                </Cell>
              </tr>
            }
          </tbody>
        </table>
      }

    </MainContent>
  </Page>
